body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
}


/** Styles Menu de navigation **/

  header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header img{
    width: 5em;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav ul li{
    text-decoration: none;
    list-style-type: none;
    margin : 20px 30px;
  }

  nav > ul >li a{
    text-decoration: none;
    color: #0065FC;
    font-size: 0.8em;
  }

  nav > ul > li a:hover{
    text-decoration:overline;
    height: 50px;
  }

  .noir a{
    color: black;
  }


  /** Styles Formulaire **/

h1{
  font-size: 1em;
}

.navigation p{
  font-size: 0.8em;
}

.form1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.bouton1{
  background-color: #0065FC;
  display: inline-block;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 15px;
  font-size: 15px;
  border: 2px solid #0065FC;
  color: #FFF;
  border-collapse: collapse;
}

form label{
  background-color: #F2F2F2;
  padding: 10px 15px;
  color: #000;
  border-radius: 10px 0px 0px 10px;
}

label .fa-map-marker-alt{
  color:#000;
  font-size: 15px;
}




/** Styles Footer **/

.sec-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sec-footer div {
  width: 33.33%;
}

footer{
  background-color: #f2f2f2;
  margin-top: 50px;
}

footer h4{
  margin-left: 2.7em;
  font-size: 0.8em;
}

footer li{
  line-height: 30px;
  list-style-type: none;
  font-size: 0.8em;
}

footer li a{
  text-decoration: none;
  color: black;
}

